---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import tientoLogo from "../images/tiento-logo.svg";
import playerHero from "../images/player-hero.png";
import PlayerCard from "../components/PlayerCard.astro";

import playerAbout1 from "../images/player-about-1.png";
import playerAbout2 from "../images/player-about-2.png";
import playerAbout3 from "../images/player-about-3.png";

import team1 from "../images/team-1.png";
import team2 from "../images/team-2.png";
import team3 from "../images/team-3.png";

import partner1 from "../images/partner-1.png";
import partner2 from "../images/partner-2.png";
import partner3 from "../images/partner-3.png";

import discordLogo from "../images/discord-logo.svg";
import twitterLogo from "../images/twitter-logo.svg";
import instagramLogo from "../images/instagram-logo.svg";
---

<Layout title="Welcome to Astro.">
	<header>
		<div class="flex justify-between">
			<div class="flex gap-4">
				<img src={tientoLogo.src} height={200} width={200} alt="logo" />
				<div class="head-title">TIENTO</div>
			</div>
			<div>
				<ul class="flex gap-4">
					<li>
						<a href="#about">About</a>
					</li>
					<li>
						<a href="#mission">Mission</a>
					</li>
					<li>
						<a href="#vision">Vision</a>
					</li>
					<li>
						<a href="#roadmap">Roadmap</a>
					</li>
				</ul>
			</div>
			<div>GET STARTED</div>
		</div>
	</header>
	<main>
		<section>
			<div>
				<div>
					<h1>
						Discover, Collect and Sell Exclusive Digital Art of NFTs
					</h1>
					<h4>
						Explore the captivating world of NFTs, where each token
						represents a unique digital asset, and trust in verified
						ownership as you collect these one-of-a-kind treasures.
					</h4>
					<div>GET STARTED</div>
				</div>
				<div>
					<Image src={playerHero} alt="hero-player" loading="eager" />
				</div>
			</div>
		</section>

		<section id="about">
			<div>ABOUT</div>
			<p>
				Tiento is an organization that wants to build a community that
				unites all who feel genuine passion for football through the
				combination of  digital collectibles/currency built on 
				blockchain technologies, and formation/representation rights of
				professional football players.
			</p>
			<div class="flex">
				<PlayerCard
					image={playerAbout1}
					playerName="Alvaro Perez"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
				<PlayerCard
					image={playerAbout2}
					playerName="Daniel Velazquez"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
				<PlayerCard
					image={playerAbout3}
					playerName="Ricardo Cepeda"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
			</div>
		</section>
		<section>
			<div class="flex">
				<div id="mission">
					<div>MISSION</div>
					<p>
						Use blockchain technology to close the existing gap
						between professional football players and fans. This
						will be done with activating the ability of the general
						public to invest in the development of players and also
						have a share in their professional representation.
					</p>
					<p>
						The blockchain will validate financial transactions,
						players representation rights ownership through Tiento
						Sport Management Agency, and the investors earning
						projections if players increase their market value.
					</p>
				</div>
				<div id="vision">
					<div>VISION</div>
					<p>
						Currently, Tiento Sports Agency has a total of 5
						professional players. The short term vision is to be
						able to prove the business plan using these players to
						provide an investment opportunity using formation and
						representation rights.
					</p>
					<p>
						The long term vision is to expand the quantity of
						players for representation and also hold deals with
						formation academies in order to expand formation
						investments of players we don&apos;t possess
						representations rights of.
					</p>
				</div>
			</div>
		</section>
		<section id="roadmap">
			<div>ROADMAP</div>
			<div>
				<div class="flex">
					<div>PHASE 1</div>
					<div></div>
					<div>Brand Awareness & Community Incubation</div>
				</div>
				<div class="flex">
					<div>PHASE 2</div>
					<div></div>
					<div>Pre-Launching campaign</div>
				</div>
				<div class="flex">
					<div>PHASE 3</div>
					<div></div>
					<div>Minting</div>
				</div>
				<div class="flex">
					<div>PHASE 4</div>
					<div></div>
					<div>Player Development Program</div>
				</div>
				<div class="flex">
					<div>PHASE 5</div>
					<div></div>
					<div>Awareness Platform</div>
				</div>
				<div class="flex">
					<div>PHASE 6</div>
					<div></div>
					<div>Holder Utilities</div>
				</div>
			</div>
		</section>
		<section>
			<div>TEAM</div>
			<div class="flex">
				<Image src={team1} alt="team-member-1" />
				<Image src={team2} alt="team-member-2" />
				<Image src={team3} alt="team-member-3" />
			</div>
		</section>
		<section>
			<div>PARTNERS</div>
			<div class="flex">
				<div>
					<Image src={partner1} alt="partner-1" />
					<div>DISPLACE</div>
				</div>
				<div>
					<Image src={partner2} alt="partner-2" />
					<div>THE LOOP</div>
				</div>
				<div>
					<Image src={partner3} alt="partner-3" />
					<div>SOCCER VEN</div>
				</div>
			</div>
		</section>
		<section>
			<div>
				<div>Start your Tiento journey</div>
				<div>Join our community</div>
				<div>GET STARTED</div>
			</div>
		</section>
	</main>
	<footer>
		<div class="flex justify-between">
			<div>
				<div class="flex">
					<Image src={tientoLogo} alt="tiento-logo" />
					<div>TIENTO</div>
				</div>
				<div><p>Helping players to grow in their carrers</p></div>
			</div>
			<div class="flex">
				<div>
					<ul>
						<li class="mb-5">Company</li>
						<li><a href="#about">About</a></li>
						<li><a href="/carrers">Carrers</a></li>
						<li><a href="/terms-of-service">Terms of Service</a></li>
						<li><a href="/privacy-policy">Privacy Policy</a></li>
					</ul>
				</div>
				<div>
					<ul>
						<li class="mb-5">Resources</li>
						<li><a href="/blog">Blog</a></li>
						<li><a href="/contact">Contact</a></li>
						<li><a href="/community">Community</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div></div>
		<div class="flex justify-between">
			<div>© Copyright Tiento 2024. All Rights Reserved</div>
			<div class="flex">
				<div>
					<Image src={discordLogo} alt="discord-icon" />
				</div>
				<div>
					<Image src={twitterLogo} alt="twitter-icon" />
				</div>
				<div>
					<Image src={instagramLogo} alt="instagram-icon" />
				</div>
			</div>
		</div>
	</footer>
</Layout>

<style>
	.head-title {
		font-family: "Fugaz One";
	}
</style>
