---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import playerHero from "../images/player-hero.png";
import PlayerCard from "../components/PlayerCard.astro";

import playerAbout1 from "../images/player-about-1.png";
import playerAbout2 from "../images/player-about-2.png";
import playerAbout3 from "../images/player-about-3.png";

import team1 from "../images/team-1.png";
import team2 from "../images/team-2.png";
import team3 from "../images/team-3.png";

import partner1 from "../images/partner-1.png";
import partner2 from "../images/partner-2.png";
import partner3 from "../images/partner-3.png";

import starterBtn from "../images/starter-btn.svg";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Tiento">
	<Navbar />
	<main class="flex flex-col justify-center items-center">
		<section class="hero-section relative w-full min-h-[90vh]">
			<div class="square-grid"></div>
			<div class="mx-auto py-10 px-2 max-w-screen-xl relative">
				<div class="flex justify-between relative">
					<div class="hero-left-side w-full">
						<h1
							class="text-5xl max-w-lg mb-14 leading-[3.5rem] font-bold"
						>
							Discover, Collect and Sell Exclusive Digital Art of
							NFTs
						</h1>
						<h4 class="max-w-lg mb-14">
							Explore the captivating world of NFTs, where each
							token represents a unique digital asset, and trust
							in verified ownership as you collect these
							one-of-a-kind treasures.
						</h4>
						<div class="mb-14">
							<Image src={starterBtn} alt="btn" />
						</div>
					</div>
					<div
						class="hero-right-side relative max-w-md w-full h-auto"
					>
						<Image
							src={playerHero}
							alt="hero-player"
							loading="eager"
						/>
						<div class="hero-image-card">
							<div>
								<div class="font-bold">market value</div>
								<div>min value</div>
							</div>
							<div class="text-right">
								<div class="font-bold">$5000</div>
								<div>$3</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section
			id="about"
			class="about-section p-20 mb-10 flex flex-col justify-center items-center gap-y-10 bg-[#1f1f1f5d]"
		>
			<div class="border-2 border-white border-solid w-fit px-20 py-5">
				ABOUT
			</div>
			<p class="text-2xl">
				Tiento is an organization that wants to build a community that
				unites all who feel genuine passion for football through the
				combination of  digital collectibles/currency built on 
				blockchain technologies, and formation/representation rights of
				professional football players.
			</p>
			<div class="flex gap-x-10">
				<PlayerCard
					image={playerAbout1}
					playerName="Alvaro Perez"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
				<PlayerCard
					image={playerAbout2}
					playerName="Daniel Velazquez"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
				<PlayerCard
					image={playerAbout3}
					playerName="Ricardo Cepeda"
					playerValue="$5.000"
					playerPrice="$3"
					playerHeight="1.75m"
				/>
			</div>
		</section>
		<section class="mb-10">
			<div class="flex gap-x-4">
				<div
					id="mission"
					class="mission-card p-10 flex flex-col justify-center items-center bg-[#1f1f1f5d]"
				>
					<div
						class="mb-10 border-2 border-white border-solid w-fit px-20 py-5"
					>
						MISSION
					</div>
					<p>
						Use blockchain technology to close the existing gap
						between professional football players and fans. This
						will be done with activating the ability of the general
						public to invest in the development of players and also
						have a share in their professional representation.
					</p>
					<br />
					<p>
						The blockchain will validate financial transactions,
						players representation rights ownership through Tiento
						Sport Management Agency, and the investors earning
						projections if players increase their market value.
					</p>
				</div>
				<div
					id="vision"
					class="vision-card p-10 flex flex-col justify-center items-center bg-[#1f1f1f5d]"
				>
					<div
						class="mb-10 border-2 border-white border-solid w-fit px-20 py-5"
					>
						VISION
					</div>
					<p>
						Currently, Tiento Sports Agency has a total of 5
						professional players. The short term vision is to be
						able to prove the business plan using these players to
						provide an investment opportunity using formation and
						representation rights.
					</p>
					<br />
					<p>
						The long term vision is to expand the quantity of
						players for representation and also hold deals with
						formation academies in order to expand formation
						investments of players we don&apos;t possess
						representations rights of.
					</p>
				</div>
			</div>
		</section>
		<section
			id="roadmap"
			class="roadmap-section mb-10 py-10 bg-[#1f1f1f5d] w-full flex flex-col justify-center items-center"
		>
			<div
				class="mb-10 border-2 border-white border-solid w-fit px-20 py-5"
			>
				ROADMAP
			</div>
			<div>
				<div class="flex">
					<div>PHASE 1</div>
					<div></div>
					<div>Brand Awareness & Community Incubation</div>
				</div>
				<div class="flex">
					<div>PHASE 2</div>
					<div></div>
					<div>Pre-Launching campaign</div>
				</div>
				<div class="flex">
					<div>PHASE 3</div>
					<div></div>
					<div>Minting</div>
				</div>
				<div class="flex">
					<div>PHASE 4</div>
					<div></div>
					<div>Player Development Program</div>
				</div>
				<div class="flex">
					<div>PHASE 5</div>
					<div></div>
					<div>Awareness Platform</div>
				</div>
				<div class="flex">
					<div>PHASE 6</div>
					<div></div>
					<div>Holder Utilities</div>
				</div>
			</div>
		</section>
		<section
			class="team-section flex flex-col justify-center items-center mb-20"
		>
			<div
				class="mb-10 border-2 border-white border-solid w-fit px-20 py-5"
			>
				TEAM
			</div>
			<div class="flex gap-x-10">
				<Image src={team1} alt="team-member-1" />
				<Image src={team2} alt="team-member-2" />
				<Image src={team3} alt="team-member-3" />
			</div>
		</section>
		<section
			class="partners-section flex flex-col justify-center items-center mb-20"
		>
			<div
				class="mb-10 border-2 border-white border-solid w-fit px-20 py-5"
			>
				PARTNERS
			</div>
			<div class="flex gap-x-32">
				<div class="flex flex-col justify-center items-center gap-y-8">
					<Image src={partner1} alt="partner-1" />
					<div>DISPLACE</div>
				</div>
				<div class="flex flex-col justify-center items-center gap-y-8">
					<Image src={partner2} alt="partner-2" />
					<div>THE LOOP</div>
				</div>
				<div class="flex flex-col justify-center items-center gap-y-8">
					<Image src={partner3} alt="partner-3" />
					<div>SOCCER VEN</div>
				</div>
			</div>
		</section>
		<section class="join">
			<div class="join-card">
				<h2 class="text-3xl">Start your Tiento journey</h2>
				<div>Join our community</div>
				<Image src={starterBtn} alt="btn" />
			</div>
		</section>
	</main>
	<Footer />
</Layout>

<script src="../scripts/animations.ts"></script>

<style>
	.head-title {
		font-family: "Fugaz One";
	}

	.hero-image-card {
		position: absolute;
		bottom: 25px;
		right: 50px;
		display: flex;
		column-gap: 20px;
		border: 1px solid white;
		padding: 20px;
		background: rgba(31, 31, 31, 0.5);
		backdrop-filter: blur(10px);
	}

	.square-grid {
		position: absolute;
		top: 0;
		width: 100%;
		height: 80%;
		opacity: 0.8;
		background-image: linear-gradient(#505050 1px, transparent 1px),
			linear-gradient(to right, #505050 1px, #e5e5f700 1px);
		background-position: 50% 50%;
		background-size: 62px 82px;
	}

	.join {
		background-image: url("../images/stadium-background.png");
		background-size: cover;
		width: 100%;
		padding-top: 200px;
		padding-bottom: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.join-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 0.5px solid rgba(255, 255, 255, 0.5);
		width: 100%;
		row-gap: 2rem;
		padding: 100px;
		margin: 0 100px;
		background: rgba(31, 31, 31, 0.5);
	}
</style>
